.main-container {
  display: flex;
  /*gradient background*/
  /* background: rgb(255, 255, 255);
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(203, 204, 205, 1) 40%,
      rgba(212, 212, 212, 1) 100%
    ); */
  background-color: #fff;
  /* background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(0, 142, 176, 1) 100%
  ); */
  /* padding-top: 10%; */
  padding-bottom: 2%;
}

.main-event {
  display: flex;
  background-color: white;
  margin-top: 2%;
}

.events {
  width: 100%;
}

/* Define the fadeInUp animation */
@keyframes fadeinup {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  /* to {
    opacity: 1;
    transform: translateY(0);
  } */
}

.text-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* padding: 20px; */
  padding-right: 0px;
  padding-left: 5%;
  justify-content: center;
}

.text-block {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  align-items: flex-start;
  padding-left: 5%;
  text-align: left;
}
.maine.text-block {
  padding-left: 0%;
  padding-right: 15%;
  text-align: justify;
}
.maine p.main-text {
  margin-bottom: 8px;
}

.main-text {
  font-size: 250%;
  font-weight: bold;
  line-height: normal;
  color: #5a5a5a;
  margin-bottom: 0px;
}

.sub-text {
  font-size: 20px;
  font-weight: light;
  color: #5a5a5a;
}

.main-container .main-text,
.main-container .sub-text,
.main-event .main-text,
.main-event .sub-text {
  animation: fadeinup 1s ease-in-out;
}

.buttons {
  display: flex;
  flex-direction: row;
  padding-left: 5%;
}

.maine.buttons {
  padding-left: 0%;
}

.main-button {
  /* background-color: #2b50aa; */
  background-color: #008eb0;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
  margin-right: 10px;
}

.main-button:last-child,
.sub-button:last-child {
  margin-right: 0;
}

.main-button:hover {
  background-color: #00a9b8;
}

.sub-button {
  background-color: transparent;
  color: #008eb0;
  border: 1px solid #008eb0;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  margin-right: 10px;
}

.main-button,
.sub-button {
  transition: background-color 0.3s ease-in-out;
}

.sub-button:hover {
  background-color: #008eb0;
  color: white;
}

.image-container {
  flex: 1;
  width: auto;
  height: auto;
  padding-right: 5%;
}

.maine.image-container {
  padding-right: 0%;
}

.main-image {
  width: 90%;
  height: 100%;
  object-fit: cover;
  position: relative;
  top: 40px;
}

img.ticketcounter {
  width: 60%;
  height: auto;
  object-fit: cover;
  padding: 10%;
  padding-right: 0%;
  padding-left: 0%;
  border-radius: 20px;
  border-radius: 15%;
}

.ticketevent {
  width: 100%;
  height: auto;
  object-fit: cover;
  padding: 10%;
}

/*search ui*/

.search-container {
  display: flex;
  align-items: center;
  padding-left: 5%;
}

.search-input {
  border: 2px solid #5a5a5a;
  border-radius: 20px;
  padding: 13px;
  padding-left: 20px;
  width: 300px;
  height: 35px;
  margin-right: 10px;
}

.search-button {
  border: none;
  padding: 0px;
  cursor: pointer;
  border-radius: 50%;
}

.search-button img {
  width: 35px;
  cursor: pointer;
}

.aboutcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5%;
  border-radius: 20px;
  background-color: whitesmoke;
}

/* Custom CSS for zoom-in effect */
/* .card:hover .blur-shadow-image {
  transform: scale(1.1);
  transition: transform 0.3s ease-out;
} */

.card .sociall {
  display: flex;
  position: absolute;
  bottom: 0px;
  width: 100%;
  opacity: 0;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  transition: 0.5s;
  background: rgba(255, 255, 255, 0.9);
  z-index: 2;
  justify-content: space-evenly;
}

.card .sociall a {
  transition: color 0.3s;
  margin: 15px 12px;
  display: block;
  line-height: 100%;
  text-align: center;
}

.card:hover .sociall {
  opacity: 1;
}

.card-header {
  border-bottom: none !important;
}

/*--------------------------------------------------------------
# F.A.Q
--------------------------------------------------------------*/
.faq {
  padding-bottom: 5%;
}

.faq .accordion-collapse {
  border: 0;
}

.faq .accordion-button {
  padding: 15px 15px 20px 0;
  font-weight: 600;
  border: 0;
  font-size: 18px;
  color: #5a5a5a;
  text-align: left;
}

.faq .accordion-button:focus {
  box-shadow: none;
}

.faq .accordion-button:not(.collapsed) {
  background: none;
  color: #008eb0;
  border-bottom: 0;
}

.faq .accordion-body {
  padding: 0 0 25px 0;
  border: 0;
}

/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/
.features {
  padding-bottom: 5%;
}

.features .feature-box {
  padding: 24px 20px;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  transition: 0.3s;
  height: 100%;
}

.features .feature-box h3 {
  font-size: 18px;
  color: #008eb0;
  font-weight: 700;
  margin: 0;
}

.features .feature-box i {
  line-height: 0;
  background: #ecf3ff;
  padding: 4px;
  margin-right: 10px;
  font-size: 24px;
  border-radius: 3px;
  transition: 0.3s;
}

.features .feature-box:hover i {
  background: #008eb0;
  color: #fff;
}

/* Media Query for Small Screens */
@media screen and (max-width: 900px) {
  .eventpage {
    padding-top: 116px;
  }
  .image-container {
    width: auto;
    height: auto;
  }
  .main-text {
    font-size: 30px;
  }
  .sub-text {
    font-size: 18px;
  }
}
@media screen and (max-width: 768px) {
  .mainevent,
  .aboutcontainer {
    margin: 5%;
  }
  .eventpage {
    padding-top: 96px;
  }
  .main-container {
    flex-direction: column;
  }
  .main-event {
    padding: 20px;
  }

  .text-container {
    padding: 20px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .main-text {
    font-size: 25px;
  }

  .sub-text {
    font-size: 13px;
  }

  .buttons {
    flex-direction: column;
  }

  .main-button,
  .sub-button {
    margin-bottom: 10px;
    margin-right: 10px !important;
    text-align: center;
  }

  .image-container {
    display: none;
  }
}
