.user-icon-container {
  position: relative;
  cursor: pointer;
}

.user-icon-image {
  font-size: 30px;
  color: #2b50aa; /* Adjust the color as needed */
  padding-right: 20px;
}

.user-dropdown,
.userdropdown {
  width: max-content;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px;
  z-index: 1;
}

.nav-item {
  display: block;
  padding: 8px;
  text-decoration: none;
  color: #333; /* Adjust the color as needed */
}

.nav-item:hover {
  color: #2b50aa; /* Adjust the color as needed */
}

/*Media Queries*/
@media screen and (max-width: 992px) {
  .user-icon-container {
    text-align: justify;
    margin-left: 58% !important;
    z-index: 1;
  }
  .user-dropdown {
    position: static;
    width: 100%;
    padding: 0;
    box-shadow: none;
    border-radius: 0;
  }
  .user-icon-container {
    margin-left: 5%;
  }
  .user-icon-image {
    display: none;
  }
}
@media screen and (max-width: 851px) {
  .user-icon-container {
    margin-left: 59% !important;
  }
}
@media (max-width: 768px) {
  .user-icon-container {
    margin-left: 60% !important;
  }
  .user-icon-container.nav-list {
    padding-top: 0px;
  }
}
@media screen and (max-width: 668px) {
  .user-icon-container {
    margin-left: 61% !important;
  }
}
@media screen and (max-width: 568px) {
  .user-icon-container {
    margin-left: 62% !important;
  }
}
